SECRET_KEY=generate_a_secure_random_key_here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=smarthome_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

MQTT_HOST=localhost
MQTT_PORT=8883
MQTT_USE_TLS=True
MQTT_CA_CERTS=../mosquitto/config/certs/ca.crt
MQTT_CLIENT_CERT=../mosquitto/config/certs/client.crt
MQTT_CLIENT_KEY=../mosquitto/config/certs/client.key
