API_URL=http://localhost:8000/api
USERNAME=username
PASSWORD=password
MFA_SECRET=your_mfa_base32_secret_here
UPDATE_INTERVAL=5
BATTERY_DRAIN_INTERVAL=60

MQTT_HOST=localhost
MQTT_PORT=8883
MQTT_USE_TLS=True
# For development, relative paths are resolved against the simulator directory.
# For production, use absolute paths (e.g. /etc/gateway/certs/ca.crt)
MQTT_CA_CERTS=../mosquitto/config/certs/ca.crt
MQTT_CLIENT_CERT=../mosquitto/config/certs/client.crt
MQTT_CLIENT_KEY=../mosquitto/config/certs/client.key
